# Ignore zip archive
*.zip

# Ignore config file
home_project_copy.code-workspace
.buildpath
.project
.settings/

# Ignore downloadable libs
angular/
bootstrap/

# Ignore generic count file
ISNRacing/txt/compteur_visites.txt
